<!DOCTYPE html>
<html>

<head>
  <title>Add a New Photo</title>
</head>

<body>

<h1>Add A New photo</h1>

<form>
  <div>
    <label>Caption:</label>
    <input type="text" name="the_caption">
  </div>
  <div>
    <label>Image URL:</label>
    <input type="text" name="the_source">
  </div>
  <div>
    <button>Create Photo</button>
  </div>
</form>
</body>

</html>
